body {
    position: relative;
    font-size: 26px;
    line-height: 1.25;
    margin: 1em;
    background-color: #FFEFAA;
    color: #000;
}

h1 { font-size: 64px; }
h2 { font-size: 32px; }
h3 { font-size: 24px; }
h4 { font-size: 18px; }
h5 { font-size: 12px; }
h6 { font-size: 8px; }

header {
    border-radius: .5rem;
    background-color: #554500;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
}

section {
    text-align: center;
}

p {
    margin: 1.5rem 0;
}

#samples {
    border-radius: .5rem;
    background-color: #D4C16A;
    padding: 2rem;
}